

.adminAccountManageBox {
    width: auto;
    height: 65px;
    margin: 0vh 18vw 0vh 18vw;
    background-color: #f8b7b7;
    border: 0.05em solid #a8a8a8;
    color: rgb(48, 0, 0);;
    display: grid;
    grid-template-columns:   0.5fr 1fr 0.5fr 2fr 1fr;
    align-items: center;
    
    

    *{
        justify-self: center;
        align-self: center;
       
    }

   
    
    .date {
        font-size: 0.8em; 
      

        span {
            font-weight: 300;
        background-color: #720000;
        border-radius: 6px;
        padding: 0.4em;
        color: white;
        margin-top: 1em;
        line-height: 2em;
        font-size: 0.8em;
        }
    }
     
    }