

.adminAdvManageBox {
    width: auto;
    height: 100px;
    margin: 0vh 18vw 0vh 18vw;
    background-color: #ecfdf0;
    border: 0.05em solid #a8a8a8;
    color: #00250e;
    display: grid;
    grid-template-columns:  200px 1fr 150px 100px 1fr;
    align-items: center;
    font-size: 0.8em;
    
    .advBox{
        .advImg {
            width: auto;
            height: 90px;
        }
    }
    
    *{
        justify-self: center;
        align-self: center;
        font-weight: 600;
       
    }

    .notPublish {
        background-color: #ffffff;
        border-radius: 6px;
        padding: 0.4em;
        color: #00491c;
    }
    .publish {
        background-color: #3b3b3b;
        border-radius: 6px;
        padding: 0.4em;
        color: #ffffff;
    }
    .date {
        font-size: 1em; 
        font-weight: 300;

        span {
            font-weight: 300;
        background-color: #04aa44;
        border-radius: 6px;
        padding: 0.4em;
        color: white;
  
        line-height: 2em;
    font-size: 0.8em;
        }
    }
    

     
    }