.btnBar {
    margin-left: 18vw;
    margin-right: 18vw;
    width: auto;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 0;
    margin-top: 1vh;
    .authorBtn {
        font-weight: bold;
    }

}


.accountManageTable {
    background-color: #F17642;
    width: auto;
    height: 5vh;
    margin: 2em 18vw 0vh 18vw;
    border: 0.05em solid #a8a8a8;
    color: white;
    display: grid;
    
    grid-template-columns:   0.5fr 0.5fr 1fr 1fr 150px 150px  ;
    align-items: center;
    

    .accountManageBtn {
        justify-self: center;
    }

 
    
}
