.btnBar {
    margin-left: 18vw;
    margin-right: 18vw;
    width: auto;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 0;
    margin-top: 1vh;
    .authorBtn {
        font-weight: bold;
    }

}



.advManageTable {
    background-color: #007e1f;
    width: auto;
    height: 5vh;
    margin: 2em 18vw 0vh 18vw;
    border: 0.05em solid #a8a8a8;
    color: white;
    display: grid;
    grid-template-columns:  200px 1fr 150px 100px 1fr;
    font-size: 1em;
    align-items: center;
    

    .advManageBtn {
        justify-self: center;
    }

 
    
}
