.bar {
    background: linear-gradient(to top,#C0E0FF 67%, rgba(180, 14, 14, 0)  0%);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw; 
    
    a {
        text-decoration: none;
    }
    
    
    .barIconBox {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.95)
        
       
    }

    .barIconBoxHome {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
        transform: scale(0.9)
    
    }

// .homeLogoBox {
//     background-image: url("../img/Logo.jpg")
// }

    .logo{
        width: 50px;
        height: 50px;
    }

    .barIconHome {
        background-color: #3F8BD6;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #ffffff solid 0.1px;
        flex-direction: column;
    }

    .barIcon {
        background-color: #8bbdee;
        border-radius: 50px;
        width: 70px;
        height: 70px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #ffffff solid 0.1px;
    }

    .selected .barIcon {
        background-color: #F17642;
        transition: 0.3s;
    }

    .iconSize{
        width: 1.2em;
        height: 1.2em;
    }

    .barIconName {
        color: #3F8BD6;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.4em;
        font-weight: 1000;
        padding-top: 2px;
        
    }

    .selected .barIconName  {
        color: #F17642;
        transition: 0.3s;
    }



}


@media screen and (max-width: 321px) {
  
    .barIcon {
        width: 50px;
        height: 50px;
    }

    .iconSize{
        width: 0.5em;
        height: 0.5em;
    }

}