

.userBookRecordBox {
    display: flex;
    justify-content: flex-end;
    z-index:99;
    cursor: pointer;
        
    .userBookRecord {
        display: block;
        color: #002C57;
        background-color:#ffffff ;
        border-radius: 6px;
        font-weight: bolder;
        font-size: 0.7em;
        padding: 0.4em 0.7em 0.4em 0.7em;
        width: 6em;
        margin-top: 0.6em;
        text-decoration: none;
    }

}
