
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.bookInfoBox{
    background-color: white!important;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-top: 1em;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;

    .bookInfoBook {
        width: auto;
        height: 7.3em;
        margin: 0.5em;
        margin-left: 0em;
        box-shadow: 3px 3px 3px rgb(105, 105, 105);
        flex-direction: column;
    }

    .bookInfoContentBox {
        background-color: #D9E6F3;
        width: auto;
        min-width: 11em;
        height: 7.5em;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.2em;
        flex-direction: column;

        .bookInfoBookInfoBox {
            text-align: left;

            .bookInfoBookTitle {
                font-size: 0.9em;
                font-weight: bolder;
                padding: 0px;
                color: #00172e;
                margin-top: 0.1em;
                margin-bottom: 0em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .bookInfoBookTitleUnderline {
                    border-bottom: #F17642 solid 2px;
                }


                .bookInfoBookState {
                    color: white;
                    background-color: #F17642;
                    border-radius: 6px;
                    font-weight: bolder;
                    font-size: 0.6em;
                    padding: 0.3em 0.1em 0.3em 0.1em;
                    margin: 0.5em 0em 1em 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5em;
                    border-bottom: none;
                }

                
                .bookInfoBookStateFinished {
                    color: white;
                    background-color: #288d00;
                    border-radius: 6px;
                    font-weight: bolder;
                    font-size: 0.6em;
                    padding: 0.3em 0.1em 0.3em 0.1em;
                    margin: 0.5em 0em 1em 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5em;
                    border-bottom: none;
                }
            }

            
    
            .bookInfoBookAuthor {
                font-size: 0.6em;
                font-weight: bolder;
                padding-bottom: 0;
                color: #00172e;
                margin-bottom: 0.3em;
            }
        }

        .bookInfoUpdateInfoBox {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 0.5em;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .bookInfoUpdateDate {
                background-color: #3F8BD6;
                color: white;
                border-radius: 6px;
                padding: 0.4em 1em 0.4em 1em;
                margin-left: 1em;
           
            }
    
            .bookInfoBookLastUpdate {
                background-color: #054a8f;
                color: white;
                border-radius: 6px;
                padding: 0.4em 1em 0.4em 1em;
              
                
            }   
        }
        .addCollectionBox {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .addCollection {
                width: 6em;
                font-weight: 600;
                margin-top: 0.5em;
                color: #054a8f;
            }
        }
      

        
    }

}