
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


.commentBox {

    background-color: #f1f1f1;
    font-family: 'Noto Sans TC', sans-serif;
    
    margin: 0.5em;
    width: auto;
    padding: 0.5em;
    border-radius: 6px;
    margin-top: 0.5em;

    .commentUser {
        font-size: 0.8em;
        padding-left: 0.5em;
        color: #00172e;
    }   

    .commentDate {
        font-size: 0.5em;
        padding-left: 0.5em;
        color: #6e8094;
        
    }

    .commentDetail {
        color: #00172e;
        padding-left: 2em;
        padding-top: 0.2em;
        font-size: 0.7em;

    }

    .btnBox {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }


}