
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.bookChapterLatestUpdateElementBox{
    background-color: #F17642;
    border-radius: 6px;
    margin: 0.2em 0.4em 0.2em 0.4em;

    .bookChapterLatestUpdateElementWord {
        color: white;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 0.7em;
        text-align: center;
        font-weight: bolder;
        margin-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-right: 1em;
    }
}

a {
    text-decoration: none;
}