
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.commentArea {
    background-color: #CEE3F9;
    margin-left: 1.3em;
    margin-right: 1.3em;
    width: auto;
    padding: 0.5em;
    border-radius: 6px;
    margin-top: 0.8em;

    .commentWord {
        color: #00172e;
        font-weight: bolder;
        font-size: 0.8em;
        padding-left: 0.5em;
        font-family: 'Noto Sans TC', sans-serif;
    }
    .newCommentWord {
        color: #48545f;
        background-color: white;
        padding: 0.5em;
        font-weight: bolder;
        font-size: 0.8em;
        border-radius: 6px;
        font-family: 'Noto Sans TC', sans-serif;
        width: 5em;
        justify-content: center;
        align-items: center;
    }
    .inputBox {
        width: auto;
        margin-left: 1.3em;
        margin-right: 1.3em;
    }

}