@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


.bottomBar {
    background-color: #C0E0FF ;
    width: 100vw;
    height: 7vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    
    

        
    .bar {
        text-align: center;
        width: 90vw;
        font-family: "Noto Sans TC", sans-serif;
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7em;
       
        bottom: 0.9em;

        .prevChapter{
            color: white;
            background-color: #3F8BD6;
            border-radius: 6px;
            font-weight: bolder;
            font-size: 1em;
            height: 2em;
            border-bottom: none;
        }

        .chapterNumber{
            color: #003B76;
            font-size: 1.3em;
            font-weight: bolder;
        }

        .nextChapter {
            color: white;
            background-color: #F17642;
            border-radius: 6px;
            font-weight: bolder;
            font-size: 1em;
            height: 2em;
            border-bottom: none;
        }

    }

}

