
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.bookIntroBox {
    background-color: #C0E0FF;
    border-radius: 6px;
    padding: 0.5em;
    width: auto;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 0.2em;
    margin-left: 1.5em;
    margin-right: 1.5em;

    .bookIntroWord {
        color: #00172e;
        font-weight: bolder;
        font-size: 0.8em;
    }

    .bookIntoContent {
        color: #00172e;
        font-size: 0.65em;
        padding: 0.4em 1em 0.4em 1em;
    }
}