@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.bookChapterContent {
    color: rgb(14, 14, 14);
    font-family: 'Noto Sans TC', sans-serif;
    padding: 1em;
    line-height: 2.2em;
    margin: 0em  0.5em  0.5em  0.5em;
    font-size: 1em;
	white-space: pre-wrap;
    // animation: fade-in-move-down 0.9s;
    
}
.bookChapterContents {
	white-space: pre-wrap;
    animation: fade-in-move-down 0.9s;
    
}



@keyframes fade-in-move-down {
    0% {
      opacity: 0;
      transform: translateX(-3rem);
    }
    50% {
       opacity: 0.5;
       transform: translateX(0.5em);   
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  