
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.bookChapterArea {
    background-color: #F1F1F1;
    margin-left: 1.3em;
    margin-right: 1.3em;
    width: auto;
    padding: 0.3em;
    border-radius: 6px;
    margin-top: 0.8em;

    .bookChapterBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .bookChapterViewMore {
        color: #004488;
        text-align: end;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: bolder;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

    }
}