
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.bookshelfBox{
    background-color: white!important;
    text-align: center;
    position: relative;
    margin-top: 0;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .bookshelfBook {
        width: auto;
        height: 8em;
        margin: 0.3em;
        margin-left: 0em;
        box-shadow: 3px 3px 3px rgb(105, 105, 105);
        flex-direction: column;
    }

    .bookshelfContentBox {
        background-color: #D9E6F3;
        width: auto;
        min-width: 13.5em;
        height: 8.3em;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.2em;
        flex-direction: column;

        .bookshelfBookInfoBox {
            text-align: left;

            .bookshelfBookTitle {
                font-size: 0.9em;
                font-weight: bolder;
                padding: 0px;
                color: #00172e;
                margin-top: 0.1em;
                margin-bottom: 0em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .bookshelfBookTitleUnderline {
                    border-bottom: #F17642 solid 2px;
                }


                .bookshelfBookState {
                    color: white;
                    background-color: #F17642;
                    border-radius: 6px;
                    font-weight: bolder;
                    font-size: 0.8em;
                    padding: 0.3em 0.1em 0.3em 0.1em;
                    margin: 0.5em 0em 1em 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5em;
                    border-bottom: none;
                }

                
                .bookshelfBookStateFinished {
                    color: white;
                    background-color: #288d00;
                    border-radius: 6px;
                    font-weight: bolder;
                    font-size: 0.8em;
                    padding: 0.3em 0.1em 0.3em 0.1em;
                    margin: 0.5em 0em 1em 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5em;
                    border-bottom: none;
                }
            }

            
    
            .bookshelfBookAuthor {
                font-size: 0.6em;
                font-weight: bolder;
                padding-bottom: 0;
                color: #00172e;
                margin-bottom: 0.3em;
            }
        }

        .updateInfoBox {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 0.5em;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .updateDate {
                background-color: #3F8BD6;
                color: white;
                border-radius: 6px;
                padding: 0.4em 1em 0.4em 1em;
                margin-left: 1em;
           
            }
    
            .bookshelfBookLastUpdate {
                background-color: #054a8f;
                color: white;
                border-radius: 6px;
                padding: 0.4em 1em 0.4em 1em;
              
                
            }   
        }

        .buttonBar{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        .removeCollection {
            width: 6em;
            font-weight: 500;
            margin-top: 0.5em;
            color: #ffffff;
            nav-left: 1em;
            font-size: 0.7em;
            background-color: #849db6;
            border-radius: 6px;
            padding: 0.4em;
            margin-right: 1em;
            cursor: pointer;
        }
    }
        
    }

}


@media screen and (max-width: 321px) {
  
    .bookshelfBox{
    .bookshelfContentBox {
     
        min-width: 17em;
       
    }
}
 
}
  