.createBookArea {
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 1.5em;
    width: auto;
   
    height: 78vh;
    display: flex;
    border-radius: 6px;
    // border: 1px solid #9b9b9b;
    
    border-radius: 6px;

    .coverArea {
        background-color: #cbe5ff;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;



        .bookCover {
            width: 80%;
            height: auto;
            margin-top: 10%;
            border-radius: 6px;
        }

        .uploadInput {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .uploadInput + .uploadLabel {
            font-size: 1em;
            font-weight: 700;
            color: white;
            background-color: #006bd6;
            display: inline-block;
            cursor: pointer;
            width: 10em;
            height: 1.8em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.2em;
        }

        .uploadInput:focus + .uploadLabel,
        .uploadInput + .uploadLabel:hover {
            background-color: #006bd6;
        }  
        
        .uploadBox{
            display: flex;
            justify-content: flex-start;
            width: 80%;

            .uploadBtn {
                font-weight: bold;
                color: rgb(80, 80, 80);
                margin-top: 2em;
                font-size: 0.8em;
                cursor: pointer;
            }

        }

        
    
    }
   

    .createBookFormArea {
        background-color: #b4d9ff;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 3px solid #ffffff6e;
       
        


        .textArea{
            width: 85%;
            height: 90%;
            background-color: white;
            border-radius: 6px;
            overflow: auto;
            padding-top: 2em;
            

            .inputLabel {
                background-color: #006bd6;
                color: white;
                padding: 0.5em 1em;
                font-size: 0.9em;
                border-radius: 6px;
            }

            .inputBox {
                margin-left: 2.2em;
                font-weight: bold;
                font-size: 0.9em;
                color:  #003c79;
                margin-top: 0.2em;
            }

            .inputPS {
                font-size: 0.7em; 
                margin-left: 0.2em;
            }

            .reminder {
                color: #002C57;
                font-family: "Noto Sans TC", sans-serif;
                font-size: 0.8em;
                width: 68vw;
                height: 2.5em;
                margin-left: 0.2em;
            }

            .input {
                margin-left: 1em;
                width: 90%;
                margin-top: 1.2em;
                margin-bottom: 1em;
                font-size: 0.8em;
                background-color: white;
                border: solid black 0.2px;
                border-radius: 4px;
            
               
                
            }
           .inputSummary {
                margin-left: 1em;
                width: 90%;
                margin-top: 1.2em;
                margin-bottom: 1em;
                font-size: 0.8em;
                overflow-wrap: break-word;
                height: 10em;
                resize: none;
                border-radius: 4px;
           }
        }

        .checkboxArea {
            
            display: flex;
            margin-left: 1.5em;
            

           
            .checkboxTitle {
                font-weight: bolder;
                font-size: 0.8em;
                margin-left: 0.5em;
                background-color: #006bd6;
                color: white;
                border-radius: 6px;
                width: 15em;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }

            .checkboxLabel {
                font-weight: bolder;
                width: 8em;
            }

            .checkboxLabel18{
                font-weight: bolder;
                color: #ff0000;
            }
            .checkbox {
                --border-color-checked: #ffffff;
                --checkmark-color: #ffffff;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 0.2em;
                margin-bottom: 0.2em;
            }

            .checkbox18 {
                --border-color-checked: #ffffff;
                --checkmark-color: #ffffff;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 0.2em;
                margin-bottom: 0.2em;
                color: #700000;
            }
         
        }

        .submitBox {
            display: flex;
            justify-content: flex-end;
            margin-left: 2em;
            width: 88%;
            margin-bottom: 2em;
            position: relative;
            
            .submitBtn{
                color: white;
                font-weight: bold;
                bottom: 0;
                position: absolute;
                right: 1em;
                
    
            }

        }
        
    }
    
   
}