.createBookArea {
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 2em;
    width: auto;
    height: 78vh;
    display: flex;
    
    justify-content: center;

    .coverArea {
        background-color: #dafae2;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        height: 74vh;

        .advImg {
            width: 85%;
            height: auto;
            margin-top: 2.5em;
            border-radius: 6px;
        }
        
        .uploadBox{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2em;
            width: 90%;

            .uploadBtn {
                font-weight: bold;
                color: rgb(80, 80, 80);
                font-size: 0.8em;
                cursor: pointer;
                width: 8em;
                margin-left: 1.8em;
            }
         
            .inputBox {
                margin-left: 2em;
                font-weight: 500;
                .inputLabel {
                    margin-right: 1em;
                }
                .input {
                    background-color: white;
                }
            }

         
        }
        .submitBox {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-left: 4.5em;
            margin-top: 1em;

            .submitBtn {
                font-weight: bold;
                color: rgb(80, 80, 80);
                font-size: 0.8em;
                cursor: pointer;
                width: 8em;
                margin-left: 1.8em;
            }
            
        }

      
    
    }
}