.chapterPreViewArea {
    width: auto;
    margin: 0.3em 18vw 1em 18vw;
    background-color: rgb(255, 255, 255);
    height: 87vh;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding-top: 0.6em;
    padding-bottom: 6em;
    align-items: center;


    .chapterPreViewBox {
        margin-top: 0.2em;
        margin-bottom: 3.8em;
        background-color: #F3F3F3;
        width: auto;
        height: auto;
        padding: 1em 2em 1em 2em;
        line-height: 2em;
        font-size: 1em;
        border-bottom: solid rgb(255, 255, 255) 50px;
    }

    .btnBar{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;

        .previewBtn {
            font-weight: 600;
            width: 8em;
            margin-right: 1em;
            margin-bottom:0.8em;
        }
    
    }

  
    
}

