@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.elementBox {
  display: flex;
  width: auto;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
  align-items: center;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 0em;
  margin-bottom: 1em;
  height: 50%;
  padding: 0.4em 0.3em 0.4em 0.3em;
  background-color: #c3e1ff;
  border-radius: 6px;
}
  .bookCover {
    height: auto;
    width: 16em;
    z-index: 2;
  }

  .viewBookElement {
    height: 100%;
    border-radius: 6px;
    
  }
    .viewBookBox {
      color: #003263;
      font-size: 0.5em;
      font-weight: bolder;
     
      display: flex;
    }
      .title {
        border-bottom: #003263 2px;
        font-weight: bolder;
      }
    
      .area{
          display: flex;
          flex-direction: column;
          margin-left: -em;
      }

  .box2{
    height: 100%;
  
    border-radius: 6px;
    width: 60vh;
}

      input {
          width: 60%;
          
      }
      .editChapter {
    
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.2em;
        border-radius: 6px;
        color: rgb(0, 32, 51);
        font-weight: 600;
        line-height: 4em;
      }

      .reminder {
          font-size: 1em;
          margin-left: 2em;
    }
      
    .editChapterLabelBox{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .editChapterLabel{
          margin: 0 0.5em 0.5em 0.5em;
      }
    
    }
  
    .uploadNewChapter, .delBook{
        margin: 0.5em 1em 1em 0.5em;
    }