.desktopEditBookBox {
    width: auto;
    height: 40px;
    margin: 0vh 18vw 0vh 18vw;
    background-color: #e8f4fd;
    border: 0.05em solid #a8a8a8;
    color: #002746;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 200px ;
    align-items: center;

    *{
        justify-self: center;
        align-self: center;
    }
    
    .editBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
       

     
    }
}