@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


    .logo {
        width: auto;
        height: 2.8em; 
        margin-left: 0.5em;
    }


        .accountBox {
            color: white;
            font-family: "Noto Sans TC", sans-serif;
            font-weight: bolder;
            height: 3em;
            display: flex;
            margin-right: 2em;
            align-items: center;
            justify-content: flex-end;
            width: 96vw;
    
            .accountName {
                cursor: default!important;
                margin-right: 0.5em;
            }
            
            .logoutButton {
                cursor: pointer;
                padding: 5px 5px;
                margin-left: 0.2em;
            }
            .logoutButton:hover {
                background-color: white;
                border-radius: 6px;
                color: #003263;
                transition: 0.5s;
            }
            
        }
    