.desktopEditTable {
    background-color: #2f77bb;
    width: auto;
    height: 5vh;
    margin: 1vh 18vw 0vh 18vw;
    border: 0.05em solid #a8a8a8;
    color: white;
    display: grid;
    
    grid-template-columns:  1fr 1fr 1fr 200px ;
    align-items: center;
    

    .desktopEditTableBtn {
        justify-self: center;
    }

 
    
}