

.bookInfoBox {
    width: 19.2em;
    height: 20vh;
    padding: 0;
    margin-left: 18vw;
    margin-top: 0;
    padding-top: 1.5vh;
    background-color: #b1d9ff;
    border-radius: 6px;
    display: flex;
    color: #002f5c;
    font-weight: 500;
    position: relative;

    .bookCover {
        height: 18vh;
        width: auto;
        margin: 0;
    }
    
    .bookInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-top: 1vh;
        background-color: white;
        padding-right: 3em;
        border-radius: 6px;
        margin-bottom: 1vh;
        
        .bookContentTypeBox {
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 22%;
            margin-left: 1em;
            font-size: 0.8em;
        

            .bookContentType{
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                font-size: 12px;
            
            }
        }

        .bookContent {
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 22%;
            margin-left: 0.5em;

            *{
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                
            }
        }
    }
    
 
}



@media screen and (min-height: 800px) {
  
  


    .bookInfoBox {
        width: 16vw;
        height: 12vh;
    
        .bookCover {
   
        height: 12vh;
        width: auto;
        margin: 0;
        }
        
        .bookInfo {
            
            .bookContentTypeBox {
                font-size: 20px;
            
    
                .bookContentType{
                }
            }
    
            .bookContent {
                font-size: 12px;
    
                *{
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                    
                }
            }
        }
        
}

}