.desktopEditBar {
    background-color: #003263;
    width: 100vw;
    height: 6vh;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

    .desktopEditBarBtnBox {
        margin-left: 8vw;
        display: flex;

        .desktopEditBarBtn {
           
            margin-right: 1em;
            cursor: pointer;
            padding: 5px 5px;
    
        }
        .desktopEditBarBtn:hover {
            color: #003263;
            transition: 0.5s;
            background-color: white;
            border-radius: 6px;
            
        }

        .adminEditBarBtn {
           
            margin-right: 1em;
            cursor: pointer;
            padding: 5px 5px;
    
        }
        .adminEditBarBtn:hover {
            color: #ffffff;
            transition: 0.5s;
            background-color: #0052a3;
            border-radius: 6px;
            
        }

        a {
            text-decoration: none;
            color: white;
        }

    }
    


}