.chapterEditorArea {
    width: auto;
    margin: 1.5em 18vw 1em 18vw;
    background-color: rgb(255, 255, 255);
    height: 87vh;
    display: flex;

    flex-direction: column;
    border-radius: 6px;
    padding-top: 0.6em;
    align-items: center;


    .chapterEditorBox {
        margin-top: 0.2em;
        margin-bottom: 3.8em;
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 72vh;
        white-space: pre-wrap;
    }
    .btnBar{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;

        .previewBtn {
            font-weight: 600;
            width: 8em;
            margin-right: 1em;
            margin-bottom:0.8em;
        }
    
    }
    
}