@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


.homeMiddle {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 1em;

    
    .homeRanking {
        color: #00509F;
        font-size: 1em;
        font-weight: bolder;
        padding-bottom: 0.2em;
        padding-right: 7px;
        margin-bottom: 0.6em;
        margin-right: 0.1em;
        margin-left: 0;
        border-bottom: #F17642 solid 3px;
        text-align: start;
    }
    
    .homeButtonBar {
        display: flex;

                
        .homeButton {
            color: #0056AA;
            background-color: #cce2fa;
            padding: 0.05em 1.0em 0.05em 1.0em;
            margin: 0.6em;
            margin-top: 1.4em;
            height: 3em;
            font-size: 0.6em;
            border-radius: 0.5em;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }
     
    }
}


@media screen and (max-width: 321px) {
  
    .homeMiddle {
        font-size: 14px;
    }
 
    
}