.homeAdv{

    overflow: hidden;
    background-color: white;

    .advBar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 0.5vh;
        overflow-y: hidden;
    }

    .advImg {
        width: 95vw;
        height: auto;
        border-radius: 8px;
    }
} 