@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


.appTitle {
    font-weight: bolder;
}

.loginArea {
    width: auto;
    height: auto;
    margin: 1.5em ;
    padding: 0em 1.2em 1.2em 1.2em;
    background-color: #3F8BD6;
    border-radius: 6px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.loginPageIcon {
    width: 8em;
    height: auto;
    margin: 0;
}

.emailInput, .passwordInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0.2em 0;
}

.label{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.8em;
    margin: 0 0 0.2em 0;
}

.email, .password {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.8em;
    width: 20em;
    height: 2.5em;
    border-width: 0;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    padding-left: 1em;
}

.password {
    letter-spacing: -1px;
}

.email:focus, .password:focus {
    outline: none;
}

.confirm {
    width: 16em;
    margin: 0.5em 0;
}

.confirmContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.confirmButton {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1em;
    border: 0;
    line-height: 2em;
    padding: 0 0.8em;
    text-align: center;
    color: #fff;
    background-color: #F17642;
    border-radius: 0.3em;
}

.facebook, .google {
    width: 16em;
    height: 3em; 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4em 0;
    border-radius: 0.3em;
    font-weight: 500;
    font-family: "Noto Sans TC", sans-serif;
   
   
    
}



.facebookButton, .googleButton {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    color:  #002C57;
    font-size: 0.9em;
    font-weight: bolder;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: -1px;
   
}



.facebookButton  {
    color: white;
}

.facebook {
    background-color: #4C69BA;
    
  
}

.googleLogo {
    width: 1.6em;
    height: auto;
}

.register {
    width: 16em;
    height: 3em; 
    background-color: #002C57;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4em 0;
    border-radius: 0.3em;
}

.registerButton {
    background-color: transparent;
    font-size: 1em;

    color: #ffffff;
    font-weight: 500;
    font-family: "Noto Sans TC", sans-serif;
}



// iphone 5
@media screen and (max-width: 322px) {
  
    .loginArea {
        padding: 3em;
    }

   
}
 
// iphone 8 
@media screen and (min-width: 370px) {
  
    .loginArea {
        margin-top: 1em;
        padding: 0.8em 1.5em 1.5em 1.5em;
    }
}
 
// iphone 8 plus
@media screen and (min-width: 410px) {
  
    .loginArea {
        padding: 0.8em 1em 1em 1em;
    }
    .email, .password {
    width: 18em;
    }

    .facebookButton, .googleButton {
        width: 11em;
    }

    .facebook, .google {
        width: 14em;
    }

    .register {
        width: 14em;
    }
}