

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .bookshelf {
    color: rgb(255, 255, 255);
    font-size: 1em;
    padding: 0 0 0.2em 0;
    width: 4em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
  }

  .logoBox {
    width: 3em;
    height: auto;
    margin-left: 0.5em;
  }
  

  .logo {
      width: 4em;
      height: auto;
      
  }

  .searchBar {
      --background: #3F8BD6;
      --icon-color: rgb(255, 255, 255);
      --clear-button-color: rgb(255, 255, 255);
      --cancel-button-color: rgb(255, 255, 255);
      --box-shadow: none; 
      width: 10em; 
      height: 0.2em;
      border-width: 0;
      color: rgb(255, 255, 255);
      font-weight: bolder;
      font-size: 10em;
      cursor: pointer;
  }

  .iconSize {
    margin: 0 1.5em 0 0;
    z-index: 999;
    width: 1.5em;
    height: 1.5em;
    color: white;
  }

  .themeOption{
    cursor: pointer;
  }

  .menuBtn {
    width: 4em;
  }
  