.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10em);
}

.notFoundArea {
    width: 20em;
    height: 28em;
    background-color: #3F8BD6;
    border-radius: 0.5em;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.notFoundPageIcon {
    width: 9em;
    height: auto;
    margin: 0.5em 0 0 0;
}

.notFoundContent {
    width: 17em;
    height: 10em;
    background-color: #ffffff;
    margin: 0.5em 0 0 0;
    border-radius: 0.3em;
    padding: 1em 0;
    font-weight: bolder;
}

.reminder {
    color: #00305f;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8em;
    margin: 0.5em 0 0em 2em;
}

.confirm {
    width: 16em;
    margin: 3em -0.7em;
}

.confirmContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.confirmButton {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8em;
    border: 0;
    line-height: 2em;
    padding: 0 0.8em;
    text-align: center;
    color: #fff;
    background-color: #F17642;
    border-radius: 0.3em;
}