
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.otherRankingListBox {
    height: 2em;
}


.otherRankingList {
    color: black;
    display: grid;
    grid-template-columns: 1fr 10fr 6fr;
    border: 0 solid #BCBCBC;
    border-bottom-width: 0.1em;
    width: 20em;
    font-family: 'Noto Sans TC', sans-serif;
}

.otherRankNumber {
    background-color: #BCBCBC;
    color: #ffffff;
    font-size: 0.8em;
    font-weight:bold;
    width: 1.4em;
    height: 1.8em;
    justify-self: start;
    align-self: end;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin: 0 0.5em 0 0;
    padding: 0 0.1em 0 0;
    // border: 0.1em solid #BCBCBC; 
}

.otherRankTitle {
    font-size: 0.8em;
    font-weight: normal;
    justify-self: start;
    align-self: end;
    margin: 0 0 0 0.5em;
}

.otherRankAuthor {
    font-size: 0.8em;
    font-weight: normal;
    justify-self: end;
    align-self: end;
    margin: 0 1em 0 0;
}