@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.rankingBox {
  background-color: white !important;
  text-align: center;
  overflow: hidden;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  .rankingBarBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top: 0.4em;
    flex-flow: column;
    padding-bottom: 7em;
    margin-left: 1em;

    .rankingBar {
      background-color: #f17642;
      height: 0.2em;
      width: 5.6em;
    }
    .rankingBarNumber {
      background-color: #f17642;
      color: white;
      font-size: 0.7em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      width: 1.5em;
      margin-left: 0.2em;
      white-space: nowrap;
    }
  }

  .rankingBook {
    width: auto;
    height: 7.5em;
    margin: 0.5em;
    margin-left: 1em;
    box-shadow: 3px 3px 3px dimgrey;
  }

  .rankingContentBox {
    background-color: #d9e6f3;
    width: auto;
    max-width: 16em;
    height: 7.8em !important;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.35em 0.8em 2em 0.8em;

    .rankingBookInfoBox {
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 0;
      height: 2em;

      .rankingBookTitle {
        font-size: 0.7em;
        border-bottom: #f17642 solid 3px;
        margin-right: 2em;
        padding: 0px;
        color: #00172e;
      }

      .rankingBookAuthor {
        font-size: 0.6em;
        margin-top: 0.3em;
        margin-bottom: 0;
        padding-bottom: 0%;
        color: #00172e;
      }
    }

    .rankingBookContent {
      font-size: 0.4em;
      text-align: left;
      padding-bottom: 0;
      height: 4em;
      color: #00172e;
      margin: 1em 0.5em 1em 0.5em;
    }

    .rankingBookStateBox {
      margin-top: 0em;
      margin-bottom: 0;
      display: flex;
      align-items: center;

      .rankingBookState {
        color: white;
        background-color: #f17642;
        border-radius: 6px;
        font-size: 0.6em;
        padding: 0.2em 0.8em;
        margin: 1.5em 0.8em 0em 0em;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .rankingBookStateFinished {
        color: white;
        background-color: #288d00;
        border-radius: 6px;
        font-size: 0.6em;
        padding: 0.2em 0.5em;
        margin: 1.5em 0.8em 0em 0em;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .rankingBookLastUpdate {
        font-size: 0.5em;
        margin-top: 1em;
        color: #00172e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
      }
    }
  }
}

@media screen and (max-width: 321px) {

    .rankingBox {
  .rankingContentBox {
    padding: 0.6em 0.8em 2em 0.8em;
    height: 0em;
    max-width: 11em;
  }

  .rankingBookState {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .rankingBarNumber {
    height: 1em;
    font-size: 8px;
  }
}
}
