@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


.appTitle {
    font-weight: bolder;
}

.registerArea {
    width: auto;
    background-color: #C0E0FF;
    border-radius: 6px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 1em;
    margin-top: 10vh;
 
}

.nameInput, .passwordInput, .reEnterPasswordInput, .nicknameInput, .emailInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0.5em 0;
}

.label{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.8em;
    margin: 0 0 0.5em 0;
    color: #002C57;
}

.name, .password, .reEnterPassword, .nickname, .email {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.8em;
    width: 68vw;
    height: 2.5em;
    border-width: 0;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    padding-left: 1em;
}

.password {
    letter-spacing: -1px;
}

.name:focus, .password:focus, .reEnterPassword:focus, .nickname:focus, .email:focus {
    outline: none;
}

.confirm {
    width: 16em;
    margin: 1em 0;
}

.confirmContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.confirmButton {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1em;
    border: 0;
    line-height: 2em;
    padding: 0 0.8em;
    text-align: center;
    color: #fff;
    background-color: #F17642;
    border-radius: 0.3em;
}

.reminder {
    color: #002C57;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.8em;
    width: 68vw;
    height: 2.5em;
}





// iphone 5
@media screen and (max-width: 320px) {
  
    .title {
    
        margin-top: 13vh;
        margin-left: 8vw;
    }

    .label{
    
        font-size: 1em;
    
    }

}