
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);



.iconSize {
  width: 40px;
  height: 40px;
}

.searchBar{
  background-color: #ffffff;
  width: 100%;
  line-height: 1em;
  padding: 0.3em 0.5em ;
  border-radius: 6px;
  font-size: 0.8em;
  margin-right: 1em;
  color: #002142;
  font-weight: 600;

}


.searchHints {
  color: #a1a1a1;
  animation: fade-in-move-down 0.7s;
  text-align: center;
  margin-top: 1em;
}

.typeName{
  
  color: #3F8BD6;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  animation: fade-in-move-down 0.9s;
  

}

.typeBox {
  font-family: 'Noto Sans TC', sans-serif;
    background-color: #e3eef8;
    border-radius: 6px;
    display: grid;
    width: auto;
    margin: 0.5em 1.5em 1em 1.5em;
    padding: 0.3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    animation: fade-in-move-down 0.9s;
  .type{
    background-color: #78b6f5;
    color: white;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 0.3em;
    font-weight: 500;
    cursor: pointer;
    margin: 0.2em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a{
  text-decoration: none;
  color: white;
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  50% {
     opacity: 0.5;
     transform: translateY(0.5em);   
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

