.settingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10em);
}

.settingArea {
    width: 20em;
    height: 28em;
    background-color: #3F8BD6;
    border-radius: 0.5em;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.settingPageIcon {
    width: 9em;
    height: auto;
    margin: 0.5em 0 0 0;
}

.settingContent {
    width: 17em;
    height: 17em;
    background-color: #ffffff;
    margin: 01em 0 0 0;
    border-radius: 0.3em;
    padding-top: 1.2em;
}

.accountInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #002C57;
    margin: 0.5em 0 0.6em 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.accountInfoTitle {
    margin: 0 1em 0 0;
}

.version {
    margin: 0 1em 0 0;
    color: #002C57;
}

.versionNum {
    color: #002C57;
}

.confirmContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.confirmButton {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    border: 0;
    line-height: 2em;
    padding: 0 0.8em;
    text-align: center;
    color: #fff;
    background-color: #F17642;
    margin: 0 1em 0 0;
    border-radius: 0.3em;
    font-weight: bold;
}

.confirmButton:hover {
    background-color: #f8b294;
}

.desktopButton {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    border: 0;
    line-height: 2em;
    padding: 0 0.8em;
    text-align: center;
    color: #fff;
    background-color: #3F8BD6;
    margin: 0 3.5em 0 0;
    border-radius: 0.3em;
    font-weight: bold;
    cursor: pointer;
}

.desktopButton:hover {
    background-color: #9dceff;
}

.deleteButton {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    border: 0;
    line-height: 2em;
    padding: 0 0.8em;
    text-align: center;
    color: #fff;
    background-color: #AF0E00;
    border-radius: 0.3em;
    font-weight: bold;
}

.deleteButton:hover {
    background-color: #af6760;
}