
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.updatedBox{
    background-color: white!important;
    text-align: center;
    position: relative;
    margin-top: 0;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .updatedBook {
        width: auto;
        height: 7em;
        margin: 0.5em;
        margin-left: 0em;
        box-shadow: 3px 3px 3px rgb(105, 105, 105);
        flex-direction: column;
    }

    .updatedContentBox {
        background-color: #D9E6F3;
        width: auto;
        min-width: 13.5em;
        height: 6.5em;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.2em;
        flex-direction: column;

        .updatedBookInfoBox {
            text-align: left;

            .updatedBookTitle {
                font-size: 0.8em;
                font-weight: bolder;
                padding: 0px;
                color: #00172e;
                margin-top: 0.1em;
                margin-bottom: 0em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .updatedBookTitleUnderline {
                    border-bottom: #F17642 solid 2px;
                }


                .updatedBookState {
                    color: white;
                    background-color: #F17642;
                    border-radius: 6px;
                    font-weight: bolder;
                    font-size: 0.8em;
                    padding: 0.3em 0.1em 0.3em 0.1em;
                    margin: 0.5em 0em 1em 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5em;
                    border-bottom: none;
                }

                .updatedBookStateFinished {
                    color: white;
                    background-color: #288d00;
                    border-radius: 6px;
                    font-weight: bolder;
                    font-size: 0.8em;
                    padding: 0.3em 0.1em 0.3em 0.1em;
                    margin: 0.5em 0em 1em 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5em;
                    border-bottom: none;
                }
            }

            
    
            .updatedBookAuthor {
                font-size: 0.7em;
                font-weight: bolder;
                padding-bottom: 0;
                color: #00172e;
                margin-bottom: 0.3em;
            }
        }

        .updateBookInfoBox {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 0.6em;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .updateBookDate {
                background-color: #3F8BD6;
                color: white;
                border-radius: 6px;
                padding: 0.4em 1em 0.4em 1em;
                margin-left: 1em;
           
            }
    
            .updatedBookLastUpdate {
                background-color: #054a8f;
                color: white;
                border-radius: 6px;
                padding: 0.4em 1em 0.4em 1em;
              
                
            }   
        }

        
    }

}


@media screen and (max-width: 321px) {
  
    .updatedBox{
    .updatedContentBox {
     
        min-width: 17em;
       
    }
}
 
}
  