.background {
    background-color: #C0E0FF;
    height: 112vh;
    width: 100vw;
    margin: 0;
    overflow-y: hidden;
}
.registerArea {
    display: flex;
    align-items: center;
    align-items: center;
    width: auto;
    height: 80vh;
    margin-left: 25vw;
    margin-right: 25vw;


    .registerBox {
        background-color: #C0E0FF;
        width: 800px;
        height: 70vh;
        margin-top: 6vh;
        border-radius: 6px;
        position: relative;
        padding-top: 1em;
    
        .authorRegister {
            position: absolute;
            z-index: 90;
            font-weight: 500;
            background-color: white;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            color: #002C57;
            top: 1em;
            
        }
    
        * {
            font-size: 0.95em;
            width: 100%;
            margin-top: 0.2em;
        }
    }
}
