.blueBar {
    background-color: #00478d;
    width: 100vw;
    height: 0.5vh; 
    overflow: hidden;
}

.indexContant {
    display: grid;
    grid-template-columns:  0.8fr 1.5fr 1fr;
    overflow: hidden;
    

        .desktopimg {
           
            height:91.5vh;
            width: auto;
            box-shadow: 3px 0px 3px #00478d;
            z-index: 2;
        }
        .loginArea {
            background-color: #3F8BD6;
            width: 42vw;
           
            height:91.5vh;
            color: white;
            box-shadow: 3px 0px 3px #00478d;
        }
        .rankArea {
           
            height:91.5vh;
            display: flex;
            flex-direction: column;
            width: 25vw;
            margin-top: 3.5vh;
            align-items: center;
        }

    }   