.messageArea {
    width: auto;
    margin-left: 18vw;
    margin-right: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .messageBox{
        background-color:  #3F8BD6;
        padding: 0.3em;
        border-radius: 16px;
        width: 60%;
      
        .messageWordBox {
            background-color: #bddeff;
            padding: 2em;
            border-radius: 6px;


              p{
            font-weight: 600;
            font-size: 1em;
            color:  #074788;
            

        }
        .buttonBar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

        }
        }
      
    }

}