@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);



.rankingBookPage {
    color: #00172e;
    font-size: 1em;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bolder;
    margin-top: 0.6em;
    margin-left: 0.8em;
    margin-bottom: 0.2em;
}

.rankingListBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

.appTitle {
    font-weight: bolder;
}

@media screen and (max-width: 321px) {
  

    .rankingBookPage {
            font-size: 1.2em;
            padding-top: 0.2em;
            padding-bottom: 0.6em;
        }

    }
    
  