@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.recordPageContent {
    padding-bottom: 7em;
    
    .area{

        margin-top: 1em;
    }
  
    
    
    
}

.appTitle {
    font-weight: bolder;
}


@media screen and (max-width: 321px) {
  

    .recordPageContent {

        .yourRecordWord {
            font-size: 1.2em;
            padding-top: 0.2em;
            padding-bottom: 0.6em;
        }
    }
    }
    
  