.firstPageBackground{
    background-color: #3F8BD6;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    
    .logoBox {

        width: 100vw;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
       
        .logo {
            width: 8em;
            margin-top: 4.5em;
            margin-bottom: 3em;
            height: auto;
            text-align: center;
        }
    }
    
    .warningBox {
        background-color: white;
        width: auto;
        margin-left: 7vw;
        margin-right: 7vw;
        margin-top: 1em;
        border-radius: 6px;
        padding: 1.2em;
        height: 68vh;

        .welcomeMsg {
            color: #0059B1;
            font-weight: 600;
            font-size: 1.2em;
            border-bottom: solid 2.5px #0059B1;
            margin-bottom: 0.5em;
            overflow: auto;

           
        }
        .warningMsg {
            height: 20vh;
        }

        .btnGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            margin-left: 7vw;
            margin-right: 7vw;
            margin-top: 1em;
        }
    }
   
}
