@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {

  background-color: white;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: #3F8BD6;
  height: 3.2em;
  border-bottom: 1px solid white;
}
main {

  flex-grow: 1;
  height: calc(100vh - 6em);
  overflow: auto;
}
footer {
  
  height: 7em;
  display: flex;
  z-index: 999;
  

  > * {
    flex-grow: 1;
    text-align: center;
    font-size: 2em;
    padding: 0.25em 0;
  }

 

  img {
    height: 1em;
    width: 1em;
    border-radius: 100%;
  }
}

@media screen and (max-width: 321px) {
  body {
    font-size: 12px;
    line-height: 10px;
  }
}


@media screen and (min-width: 400px) {
  body {
    font-size: 18px;
  }
}



svg {
  color : "white";
}